<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="calculator-container">
    <!-- Columna izquierda para la calculadora -->
  <div class="left-column">

  <!-- Display para mostrar la entrada -->
  <div class="input-group mb-3">

    <input type="text" id="input" class="form-control" [(ngModel)]="display" readonly>
   
  </div>


  <div class="operands row">
    <div class="col-auto">
        <button class="btn" (click)="asignarNumero(1)">1</button>
        <button class="btn" (click)="asignarNumero(2)">2</button>
        <button class="btn" (click)="asignarNumero(3)">3</button>
        <button class="btn" type="button" (click)="eliminarUltimoCaracter()">←</button>
        
       
    </div>
  </div>
  <div class="operands row">
    <div class="col-auto">
        <button class="btn" (click)="asignarNumero(4)">4</button>
        <button class="btn" (click)="asignarNumero(5)">5</button>
        <button class="btn" (click)="asignarNumero(6)">6</button>
        <button class="btn" (click)="asignarOperador('/')">/</button>
    </div>
  </div>
  <div class="operands row">
    <div class="col-auto">
        <button class="btn" (click)="asignarNumero(7)">7</button>
        <button class="btn" (click)="asignarNumero(8)">8</button>
        <button class="btn" (click)="asignarNumero(9)">9</button>
        <button class="btn" (click)="asignarOperador('*')">*</button>
     
    </div>
  </div>  
    <div class="operands row">
      <div class="col-auto">
          
          <button class="btn" (click)="asignarNumero(0)">0</button>
          <button class="btn" (click)="agregarComa()">,</button>       
          <button class="btn" (click)="asignarOperador('+')">+</button>
          <button class="btn" (click)="asignarOperador('-')">-</button>
      </div>
  </div>
</div>

<!-- Columna derecha para mostrar el historial -->
<div class="right-column">
  
  <div class="historial mb-3">
    <ul>
      <li *ngFor="let item of historial">{{ item }}</li>
    </ul>
  </div>
</div>

 <!-- Resultado -->
 <div class="input-group">
         <!-- Agrega el botón "Borrar" al lado del botón "Enviar" -->
      <input type="submit" value="=" class="btn btn-primary " (click)="sumar()">   
      <input type="text" class="form-control" [(ngModel)]="resultado" readonly>
      <input type="submit" value="X" class="btn btn-danger" (click)="borrar()">
</div>
</div>
</body>
</html>